
body {
	background-color: #363636;
	background-image: url( ../images/page-background.png );
	background-repeat: repeat-x;
   font: 10pt verdana, arial, helvetica, san-serif;
   
   text-align: center;
}

fieldset {
	border: none; 
	margin: 0px;
	padding: 0px;
}

fieldset label {
   display: block;
   float: left;
   padding: 4px;
   width: 125px;
}

div#page {
	margin: 0px auto;
	text-align: left;
	width: 700px;
}

div#header {
	padding: 16px 0px;
}

div#body {
	background-color: #ffffff;
	padding: 8px;
}


h2.section-title {
	font-size: 14pt;
	font-weight: normal;
	
	margin-top: 0px;
}

ul.small-bulleted-list {
	font-size: 8pt;
	list-style-type: square;
	margin-top: 0px;
}
